@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .

    No caso eu so posso usar  1 id por tag
    class eu posso usar em varios

    exemplo: <h1 is="princ"> oi </h1>

    não posso usar id princ em outro
    h1, se eu quiser fazer isso eu ponho class
    ai posso usar varias vezes
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
}

h1#principal{
    text-align: center;
    color: blue;
} /*No caso quando é id eu uso a hashtag # que nem no exemplo acima
*/

h2.sub{
    color: blueviolet;
} /*No caso quando é class eu uso o ponto. que nem no exemplo acima*/